.search {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;

    padding: 10px;
    background-color: #f6f8fa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.search > * {
    float: left;
}
.search > div:nth-child(1) {
    width: 270px;
}
.search > div:nth-child(1) > * {
    margin-right: 20px;
}
.slider {
    width: 145px !important;
    vertical-align: middle;
    margin-right: 20px;
}
